In [8]:
import pandas as pd

advertise= pd.read_csv(r"C:\Users\patil\Downloads\advertisers.csv")
location= pd.read_csv(r"C:\Users\patil\Downloads\locations.csv")
result= pd.read_csv(r"C:\Users\patil\Downloads\results.csv")

In [10]:
    advertise.shape

(20832, 5)

In [11]:
location.shape

(36, 2)

In [12]:
result.shape

(550, 8)

In [16]:
    advertise.isnull().sum()

Page ID                     0
Page name                   0
Disclaimer                  0
Amount spent (INR)          0
Number of ads in Library    0
dtype: int64

In [17]:
 location.isnull().sum()

Location name         0
Amount spent (INR)    0
dtype: int64

In [18]:
 result.isnull().sum()

_id                0
Sl No              7
State              7
PC_Name            0
Total Electors     0
Polled (%)         0
Total Votes        0
Phase             58
dtype: int64

In [20]:
 advertise.dtypes

Page ID                      int64
Page name                   object
Disclaimer                  object
Amount spent (INR)          object
Number of ads in Library     int64
dtype: object

In [21]:
location.dtypes

Location name         object
Amount spent (INR)     int64
dtype: object

In [22]:
 result.dtypes

_id                 int64
Sl No             float64
State              object
PC_Name            object
Total Electors      int64
Polled (%)        float64
Total Votes         int64
Phase             float64
dtype: object

In [32]:
total_money_spentby_party = pd.DataFrame(
    advertise.groupby('Disclaimer')['Amount spent (INR)'].sum()
)

In [34]:
total_money_spentby_party.head()

                                            Amount spent (INR)
Disclaimer
09 Cloud Solutions                                    19931135
10 Point                                                  3665
109 purva vidhansabha                                     4174
10SaalAnyayKaal                                         393505
10th Poklok Kamrang-Sikkim Democratic Front               4093

In [36]:
result['State']=result['State'].str.strip().str.lower()

In [39]:
location['Location name']=location['Location name'].str.strip().str.lower()

In [41]:
merge_ = result.merge(
    location,
    left_on='State',
    right_on='Location name',
    how='left'
)

In [42]:
merge_

,_id,Sl No,State,PC_Name,Total Electors,Polled (%),Total Votes,Phase,Location name,Amount spent (INR)
0,1,1.0,andaman & nicobar islands,Andaman & Nicobar Islands,315148,64.10,202018,1.0,NaN,NaN
1,2,2.0,arunachal pradesh,Arunachal East,375310,83.31,312658,1.0,arunachal pradesh,1385654.0
2,3,3.0,arunachal pradesh,Arunachal West,517384,73.60,380783,1.0,arunachal pradesh,1385654.0
3,4,4.0,assam,Dibrugarh,1659588,76.75,1273744,1.0,assam,17478091.0
4,5,5.0,assam,Jorhat,1727121,79.89,1379749,1.0,assam,17478091.0
...,...,...,...,...,...,...,...,...,...,...
545,546,54.0,west bengal,Joynagar,1844780,80.08,1477298,NaN,west bengal,77244996.0
546,547,55.0,west bengal,Kolkata Dakshin,1849520,66.95,1238256,NaN,west bengal,77244996.0
547,548,56.0,west bengal,Kolkata Uttar,1505356,63.59,957319,NaN,west bengal,77244996.0
548,549,57.0,west bengal,Mathurapur,1817068,82.02,1490299,NaN,west bengal,77244996.0
549,550,NaN,NaN,Phase 7 Total,100653884,63.88,64296221,NaN,NaN,NaN

In [45]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\patil\appdata\local\programs\python\python311\lib\site-packages (5.23.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\patil\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.5.0)
Requirement already satisfied: packaging in c:\users\patil\appdata\local\programs\python\python311\lib\site-packages (from plotly) (23.2)

[notice] A new release of pip available: 22.3 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [106]:
import plotly.graph_objects as go
import plotly.io as pio
pio.renderers.default = 'iframe'
import plotly.express as px
%matplotlib inline

In [107]:
pio.templates.default = None

In [108]:
total_money_spentby_state = pd.DataFrame(
    merge_.groupby('State')['Amount spent (INR)'].sum().reset_index()
)

In [109]:
total_money_spentby_state.head()

                       State  Amount spent (INR)
0  andaman & nicobar islands        0.000000e+00
1             andhra pradesh        2.520493e+09
2          arunachal pradesh        2.771308e+06
3                      assam        2.446933e+08
4                      bihar        2.144770e+09

In [111]:
fig=px.bar(total_money_spentby_state,x='State',y='Amount spent (INR)',color='Amount spent (INR)',labels={'State':'state','Amount spent (INR)':'AD amt'},
           title='Statewise amount spent on ADs')
fig.update_layout(xaxis={'categoryorder': 'total descending'},
                  xaxis_tickangle=-90,
                  width=800,
                  height=600)
fig.show()

In [113]:
average_voter_turnout_by_state = pd.DataFrame(
    merge_.groupby('State')['Polled (%)'].mean().reset_index()
)

In [116]:
average_voter_turnout_by_state.head()

                       State  Polled (%)
0  andaman & nicobar islands   64.100000
1             andhra pradesh   80.770800
2          arunachal pradesh   78.455000
3                      assam   80.882857
4                      bihar   56.329500

In [123]:
fig = px.bar(average_voter_turnout_by_state, 
             x='State', 
             y='Polled (%)', 
             color='Polled (%)', 
             labels={'State': 'State', 'Polled (%)': '% Poll'}, 
             title='Average Voter Turnout by State')
fig.update_layout(xaxis={'categoryorder': 'total descending'},
                  xaxis_tickangle=-90,
                  width=800,
                  height=600)

In [124]:
fig.show()

In [125]:
average_voter_turnout_by_phase = pd.DataFrame(
    merge_.groupby('Phase')['Polled (%)'].mean().reset_index()
)

In [127]:
average_voter_turnout_by_phase

   Phase  Polled (%)
0    1.0   67.202136
1    2.0   67.755393
2    3.0   65.992660
3    4.0   70.174948
4    5.0   62.630400
5    6.0   63.828814

In [128]:
fig = px.bar(average_voter_turnout_by_phase, 
             x='Phase', 
             y='Polled (%)', 
             color='Polled (%)', 
             labels={'Phase': 'Phase', 'Polled (%)': '% Poll'}, 
             title='Average Voter Turnout by Phase')
fig.update_layout(xaxis={'categoryorder': 'total descending'},
                  xaxis_tickangle=-90,
                  width=800,
                  height=600)

In [129]:
advertise

,Page ID,Page name,Disclaimer,Amount spent (INR),Number of ads in Library
0,121439954563203,Bharatiya Janata Party (BJP),Bharatiya Janata Party (BJP),193854342,43455
1,351616078284404,Indian National Congress,Indian National Congress,108787100,846
2,132715103269897,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,73361399,1799
3,192856493908290,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,32294327,680
4,109470364774303,Ellorum Nammudan,Populus Empowerment Network Private Limited,22399499,879
...,...,...,...,...,...
20827,104633268709556,If You Don't Bark,These ads ran without a disclaimer,≤100,2
20828,118271861357765,Story time,These ads ran without a disclaimer,≤100,1
20829,218017134738366,know_sacred_wisdom,These ads ran without a disclaimer,≤100,1
20830,270489126793,Energy Globe Award,These ads ran without a disclaimer,≤100,1
20831,114025938452734,FactFusion,These ads ran without a disclaimer,≤100,1

In [131]:
advertise['Amount spent (INR)'] = pd.to_numeric(advertise['Amount spent (INR)'], errors='coerce')

In [132]:
advertise

,Page ID,Page name,Disclaimer,Amount spent (INR),Number of ads in Library
0,121439954563203,Bharatiya Janata Party (BJP),Bharatiya Janata Party (BJP),193854342.0,43455
1,351616078284404,Indian National Congress,Indian National Congress,108787100.0,846
2,132715103269897,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,73361399.0,1799
3,192856493908290,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,32294327.0,680
4,109470364774303,Ellorum Nammudan,Populus Empowerment Network Private Limited,22399499.0,879
...,...,...,...,...,...
20827,104633268709556,If You Don't Bark,These ads ran without a disclaimer,NaN,2
20828,118271861357765,Story time,These ads ran without a disclaimer,NaN,1
20829,218017134738366,know_sacred_wisdom,These ads ran without a disclaimer,NaN,1
20830,270489126793,Energy Globe Award,These ads ran without a disclaimer,NaN,1
20831,114025938452734,FactFusion,These ads ran without a disclaimer,NaN,1

In [134]:
advertise.dropna(subset=['Amount spent (INR)'], inplace=True)

In [135]:
advertise

,Page ID,Page name,Disclaimer,Amount spent (INR),Number of ads in Library
0,121439954563203,Bharatiya Janata Party (BJP),Bharatiya Janata Party (BJP),193854342.0,43455
1,351616078284404,Indian National Congress,Indian National Congress,108787100.0,846
2,132715103269897,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,73361399.0,1799
3,192856493908290,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,32294327.0,680
4,109470364774303,Ellorum Nammudan,Populus Empowerment Network Private Limited,22399499.0,879
...,...,...,...,...,...
12267,271345446057081,pen pencil ka job Ghar Baithe kar sakte ho 150...,These ads ran without a disclaimer,101.0,2
12268,171491159388294,drpriyankatulla,These ads ran without a disclaimer,101.0,1
12269,215226828333240,Old coin selling company in Mumbai India,These ads ran without a disclaimer,101.0,1
12270,121081480930086,RAHUL KUMAR SINGH,Faltech Services Private Limited,101.0,1
12271,136841126190077,nihitsirpolity,These ads ran without a disclaimer,101.0,1

In [136]:
money_spent_by_each_party = pd.DataFrame(advertise.groupby('Page name')['Amount spent (INR)'].sum().sort_values(ascending=False))

In [137]:
money_spent_by_each_party

                                          Amount spent (INR)
Page name
Bharatiya Janata Party (BJP)                     193854342.0
Ama Chinha Sankha Chinha                         112412941.0
Indian National Congress                         108787100.0
Ellorum Nammudan                                  23806041.0
BJP Odisha                                        19573782.0
...                                                      ...
Ranjit Nath                                            101.0
Old coin selling company in Mumbai India               101.0
chilliestirupati                                       101.0
nihitsirpolity                                         101.0
महा MTB                                                101.0

[11590 rows x 1 columns]

In [138]:
money_spent_by_each_party_top5=money_spent_by_each_party.head(5).reset_index()

In [139]:
money_spent_by_each_party_top5

                      Page name  Amount spent (INR)
0  Bharatiya Janata Party (BJP)         193854342.0
1      Ama Chinha Sankha Chinha         112412941.0
2      Indian National Congress         108787100.0
3              Ellorum Nammudan          23806041.0
4                    BJP Odisha          19573782.0

In [142]:
fig = px.pie(money_spent_by_each_party_top5, 
             values='Amount spent (INR)', 
             names='Page name', 
             labels={'Amount spent (INR)': 'Party Expense', 'Page name': 'Political Party'}, 
             title='Party Expenses for 2024 (Top 5)')
fig.show()

In [143]:
merge_

,_id,Sl No,State,PC_Name,Total Electors,Polled (%),Total Votes,Phase,Location name,Amount spent (INR)
0,1,1.0,andaman & nicobar islands,Andaman & Nicobar Islands,315148,64.10,202018,1.0,NaN,NaN
1,2,2.0,arunachal pradesh,Arunachal East,375310,83.31,312658,1.0,arunachal pradesh,1385654.0
2,3,3.0,arunachal pradesh,Arunachal West,517384,73.60,380783,1.0,arunachal pradesh,1385654.0
3,4,4.0,assam,Dibrugarh,1659588,76.75,1273744,1.0,assam,17478091.0
4,5,5.0,assam,Jorhat,1727121,79.89,1379749,1.0,assam,17478091.0
...,...,...,...,...,...,...,...,...,...,...
545,546,54.0,west bengal,Joynagar,1844780,80.08,1477298,NaN,west bengal,77244996.0
546,547,55.0,west bengal,Kolkata Dakshin,1849520,66.95,1238256,NaN,west bengal,77244996.0
547,548,56.0,west bengal,Kolkata Uttar,1505356,63.59,957319,NaN,west bengal,77244996.0
548,549,57.0,west bengal,Mathurapur,1817068,82.02,1490299,NaN,west bengal,77244996.0
549,550,NaN,NaN,Phase 7 Total,100653884,63.88,64296221,NaN,NaN,NaN

In [146]:
advertise['Number of ads in Library'] = pd.to_numeric(advertise['Number of ads in Library'], errors='coerce')

In [147]:
advertise

,Page ID,Page name,Disclaimer,Amount spent (INR),Number of ads in Library
0,121439954563203,Bharatiya Janata Party (BJP),Bharatiya Janata Party (BJP),193854342.0,43455
1,351616078284404,Indian National Congress,Indian National Congress,108787100.0,846
2,132715103269897,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,73361399.0,1799
3,192856493908290,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,32294327.0,680
4,109470364774303,Ellorum Nammudan,Populus Empowerment Network Private Limited,22399499.0,879
...,...,...,...,...,...
12267,271345446057081,pen pencil ka job Ghar Baithe kar sakte ho 150...,These ads ran without a disclaimer,101.0,2
12268,171491159388294,drpriyankatulla,These ads ran without a disclaimer,101.0,1
12269,215226828333240,Old coin selling company in Mumbai India,These ads ran without a disclaimer,101.0,1
12270,121081480930086,RAHUL KUMAR SINGH,Faltech Services Private Limited,101.0,1
12271,136841126190077,nihitsirpolity,These ads ran without a disclaimer,101.0,1

In [149]:
advertise.dropna(subset=['Number of ads in Library'], inplace=True)

In [150]:
advertise

,Page ID,Page name,Disclaimer,Amount spent (INR),Number of ads in Library
0,121439954563203,Bharatiya Janata Party (BJP),Bharatiya Janata Party (BJP),193854342.0,43455
1,351616078284404,Indian National Congress,Indian National Congress,108787100.0,846
2,132715103269897,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,73361399.0,1799
3,192856493908290,Ama Chinha Sankha Chinha,Ama Chinha Sankha Chinha,32294327.0,680
4,109470364774303,Ellorum Nammudan,Populus Empowerment Network Private Limited,22399499.0,879
...,...,...,...,...,...
12267,271345446057081,pen pencil ka job Ghar Baithe kar sakte ho 150...,These ads ran without a disclaimer,101.0,2
12268,171491159388294,drpriyankatulla,These ads ran without a disclaimer,101.0,1
12269,215226828333240,Old coin selling company in Mumbai India,These ads ran without a disclaimer,101.0,1
12270,121081480930086,RAHUL KUMAR SINGH,Faltech Services Private Limited,101.0,1
12271,136841126190077,nihitsirpolity,These ads ran without a disclaimer,101.0,1

In [159]:
numberofads_run_by_each_party=advertise.groupby('Page name')['Number of ads in Library'].sum().sort_values(ascending=False)

In [173]:
top_10_party_forads=numberofads_run_by_each_party.head(10).reset_index()

In [176]:
fig = px.line(top_10_party_forads, 
              x='Page name', 
              y='Number of ads in Library', 
              labels={'Page name': 'Political Party', 'Number of ads in Library': 'Ads Number'}, 
              title='Ads Run by Political Parties (Top 10)')
fig.update_layout(xaxis={'categoryorder': 'total descending'},
                  xaxis_tickangle=-90,
                  width=800,
                  height=600)
fig.show()

In [169]:
top_10_party_forads=numberofads_run_by_each_party.head(10).reset_index()

In [175]:
top_10_party_forads

                            Page name  Number of ads in Library
0        Bharatiya Janata Party (BJP)                     43455
1            Ama Chinha Sankha Chinha                      2633
2                             మన మోదీ                      2554
3                  Hirak Rani Bye Bye                      2307
4                          BJP Odisha                      2152
5                     BJP West Bengal                      2130
6            Phir Ek Baar Modi Sarkar                      1928
7       Punithare Modi - ପୁଣିଥରେ ମୋଦୀ                      1657
8                     Ramvichar Netam                      1567
9  କେତେଦିନ ସହିବା? / Ketedina Sahibaa?                      1525

In [177]:
merge_

,_id,Sl No,State,PC_Name,Total Electors,Polled (%),Total Votes,Phase,Location name,Amount spent (INR)
0,1,1.0,andaman & nicobar islands,Andaman & Nicobar Islands,315148,64.10,202018,1.0,NaN,NaN
1,2,2.0,arunachal pradesh,Arunachal East,375310,83.31,312658,1.0,arunachal pradesh,1385654.0
2,3,3.0,arunachal pradesh,Arunachal West,517384,73.60,380783,1.0,arunachal pradesh,1385654.0
3,4,4.0,assam,Dibrugarh,1659588,76.75,1273744,1.0,assam,17478091.0
4,5,5.0,assam,Jorhat,1727121,79.89,1379749,1.0,assam,17478091.0
...,...,...,...,...,...,...,...,...,...,...
545,546,54.0,west bengal,Joynagar,1844780,80.08,1477298,NaN,west bengal,77244996.0
546,547,55.0,west bengal,Kolkata Dakshin,1849520,66.95,1238256,NaN,west bengal,77244996.0
547,548,56.0,west bengal,Kolkata Uttar,1505356,63.59,957319,NaN,west bengal,77244996.0
548,549,57.0,west bengal,Mathurapur,1817068,82.02,1490299,NaN,west bengal,77244996.0
549,550,NaN,NaN,Phase 7 Total,100653884,63.88,64296221,NaN,NaN,NaN

In [181]:
PC_per_Phase=pd.DataFrame(merge_.groupby('Phase')['PC_Name'].count().reset_index())

In [182]:
PC_per_Phase

   Phase  PC_Name
0    1.0      103
1    2.0       89
2    3.0       94
3    4.0       97
4    5.0       50
5    6.0       59

In [183]:
ad_spend_by_phase=pd.DataFrame(merge_.groupby('Phase')['Amount spent (INR)'].mean().reset_index())

In [184]:
ad_spend_by_phase

   Phase  Amount spent (INR)
0    1.0        5.501253e+07
1    2.0        4.530609e+07
2    3.0        5.193970e+07
3    4.0        8.055007e+07
4    5.0        9.054300e+07
5    6.0        7.593551e+07

In [190]:
fig=px.bar(ad_spend_by_phase,x='Phase',y='Amount spent (INR)',labels={'Phase':'Phase','Amount spent (INR)':'Amount spend per phase'},title='Money spent on ADs per phase')
fig.update_layout(xaxis={'categoryorder': 'total descending'},
                  xaxis_tickangle=0,
                  width=800,
                  height=600)

In [193]:
coorelation_amtspend_voting=merge_[['Amount spent (INR)','Polled (%)']].corr()

In [194]:
coorelation_amtspend_voting

                    Amount spent (INR)  Polled (%)
Amount spent (INR)            1.000000   -0.010688
Polled (%)                   -0.010688    1.000000

In [195]:
fig = px.scatter(merge_, x='Amount spent (INR)', y='Polled (%)',
                 color='State',
                 labels={'Amount spent (INR)': 'Ad Spend (INR)', 'Polled (%)': 'Voter Turnout (%)'},
                 title='Ad Spend and Voter Turnout by Parliamentary Constituency')


fig.update_layout(width=800, height=600)